## _data
_data/*/*.Rmd
_data/*/*.csv
_data/*/checkpoints/

_data/catalog/soilw.mon.mean.v2.nc
_data/catalog/inlet/
_data/catalog/outlet/
_data/catalog/grid_catalog*

_data/lisflood/SonomaVegMap*
_data/lisflood/topobathy*
_data/lisflood/transect_10*
_data/lisflood/*.asc

_data/NFHL/NFHL_06_20190810.gdb*

_data/NHD/MajorRivers*
_data/NHD/NHD_H_California_State_GDB*

_data/lulc/manning_values.txt

## _scripts
_scripts/old/

_scripts/5_INUN/fit_inundation/*/files/
_scripts/5_INUN/fit_inundation/*/logfiles/
_scripts/5_INUN/fit_inundation/*/checkpoints*/
_scripts/5_INUN/fit_inundation/*/results/
_scripts/5_INUN/fit_inundation/*/*.Rmd


## other
_figures/
_sensitivity/
*.html
*.log
troubleshooting*

